@using Friendbook.MVC.ViewModels
@{
    var searchTerm = ViewData["searchFullName"]?.ToString();
    var searchedUsers = ViewBag.SearchedUsers as List<UserProfileViewModel>;
}


<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from themes.pixelstrap.com/friendbook/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 03 Oct 2024 20:05:20 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="friendbook">
    <meta name="keywords" content="friendbook">
    <meta name="author" content="friendbook">
    <link rel="icon" href="~/assets/images/favicon.png" type="image/x-icon" />
    <title>Friendbook</title>

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&amp;display=swap"
          rel="stylesheet">

    <!-- Theme css -->
    <link id="change-link" rel="stylesheet" type="text/css" href="~/assets/css/style.css">

</head>

<body>


    <!-- loader start -->
    <div class="pre-loader">
        <header>
            <div class="mobile-fix-menu"></div>
            <div class="container-fluid custom-padding">
                <div class="header-section">
                    <div class="header-left">
                        <div class="brand-logo">
                            <a href="index.html">
                                <img src="~/assets/images/icon/logo.png" alt="logo" class="img-fluid blur-up lazyload">
                            </a>
                        </div>
                        <div class="search-box">
                            <i data-feather="search" class="icon iw-16 icon-light"></i>
                            <input type="text" class="form-control" placeholder="find friends...">
                        </div>
                        <ul class="btn-group">
                            <!-- home -->
                            <li class="header-btn home-btn">
                                <a class="main-link" href="index.html">
                                    <i class="icon-light stroke-width-3 iw-16 ih-16" data-feather="home"></i>
                                </a>
                            </li>
                            <!-- add friend -->
                            <li class="header-btn custom-dropdown dropdown-lg add-friend">
                                <a class="main-link" href="javascript:void(0)" data-bs-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <i class="icon-light stroke-width-3 iw-16 ih-16" data-feather="user-plus"></i>
                                </a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-header">
                                        <span>friend request</span>
                                        <div class="mobile-close">
                                            <h5>close</h5>
                                        </div>
                                    </div>
                                    <div class="dropdown-content">
                                        <ul class="friend-list">
                                            <li>
                                                <div class="media">
                                                    <img src="~/assets/images/user-sm/5.jpg" alt="user">
                                                    <div class="media-body">
                                                        <div>
                                                            <h5 class="mt-0">Paige Turner</h5>
                                                            <h6> 1 mutual friend</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="action-btns">
                                                    <button type="button" class="btn btn-solid">confirm</button>
                                                    <button type="button" class="btn btn-outline ms-1">delete</button>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <img src="~/assets/images/user-sm/6.jpg" alt="user">
                                                    <div class="media-body">
                                                        <div>
                                                            <h5 class="mt-0">Paige Turner</h5>
                                                            <h6> 1 mutual friend</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="action-btns">
                                                    <button type="button" class="btn btn-solid">confirm</button>
                                                    <button type="button" class="btn btn-outline ms-1">delete</button>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <img src="~/assets/images/user-sm/7.jpg" alt="user">
                                                    <div class="media-body">
                                                        <div>
                                                            <h5 class="mt-0">Paige Turner</h5>
                                                            <h6> 1 mutual friend</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="action-btns">
                                                    <button type="button" class="btn btn-solid">confirm</button>
                                                    <button type="button" class="btn btn-outline ms-1">delete</button>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <img src="~/assets/images/user-sm/2.jpg" alt="user">
                                                    <div class="media-body">
                                                        <div>
                                                            <h5 class="mt-0">Paige Turner</h5>
                                                            <h6> 1 mutual friend</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="action-btns">
                                                    <button type="button" class="btn btn-solid">confirm</button>
                                                    <button type="button" class="btn btn-outline ms-1">delete</button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="header-right">
                        <div class="post-stats">
                            <ul>
                                <li>
                                    <a href="#">
                                        <h3>@ViewBag.PostCount</h3>
                                        <span>total posts</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Friendship" asp-action="GetFriends">
                                        <h3>@ViewBag.FriendCount</h3>
                                        <span>total friends</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <ul class="option-list">
                            <!-- message -->
                            <li class="header-btn custom-dropdown dropdown-lg btn-group message-btn">
                                <a  asp-action="Index" asp-controller="Message" >
                                    <i class="icon-light stroke-width-3 iw-16 ih-16"
                                       ></i>
                                </a>
                             
                            </li>
                            <!-- dark/light -->
                            <li class="header-btn custom-dropdown">
                                <a class="main-link" href="javascript:void(0)">
                                    <i class="icon-light stroke-width-3 iw-16 ih-16" data-feather="moon"></i>
                                </a>
                                <a class="main-link d-none" href="javascript:void(0)">
                                    <i class="icon-light stroke-width-3 iw-16 ih-16" data-feather="sun"></i>
                                </a>
                            </li>
                            <!-- mobile app button -->
                            <li class="header-btn custom-dropdown d-md-none d-block app-btn">
                                <a class="main-link" href="javascript:void(0)">
                                    <i class="icon-light stroke-width-3 iw-16 ih-16" data-feather="grid"></i>
                                </a>
                                <div class="overlay-bg app-overlay"></div>
                                <div class="app-box">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="app-icon">
                                                <a href="index.html">
                                                    <div class="icon">
                                                        <i data-feather="file" class="bar-icon"></i>
                                                    </div>
                                                    <h5>Newsfeed</h5>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="app-icon">
                                                <a href="single-page.html">
                                                    <div class="icon">
                                                        <i data-feather="star" class="bar-icon"></i>
                                                    </div>
                                                    <h5>favourite</h5>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="app-icon">
                                                <a href="#">
                                                    <div class="icon">
                                                        <i data-feather="users" class="bar-icon"></i>
                                                    </div>
                                                    <h5>group</h5>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="app-icon">
                                                <a href="music.html">
                                                    <div class="icon">
                                                        <i data-feather="headphones" class="bar-icon"></i>
                                                    </div>
                                                    <h5>music</h5>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="app-icon">
                                                <a href="weather.html">
                                                    <div class="icon">
                                                        <i data-feather="cloud" class="bar-icon"></i>
                                                    </div>
                                                    <h5>weather</h5>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="app-icon">
                                                <a href="event.html">
                                                    <div class="icon">
                                                        <i data-feather="calendar" class="bar-icon"></i>
                                                    </div>
                                                    <h5>calender</h5>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="app-icon">
                                                <a href="#">
                                                    <div class="icon">
                                                        <svg class="bar-icon">
                                                            <use class="fill-color"
                                                                 xlink:href="https://themes.pixelstrap.com/friendbook/assets/svg/icons.svg#cake"></use>
                                                        </svg>
                                                    </div>
                                                    <h5>event</h5>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="app-icon">
                                                <a href="games.html">
                                                    <div class="icon">
                                                        <svg class="bar-icon">
                                                            <use class="fill-color"
                                                                 xlink:href="https://themes.pixelstrap.com/friendbook/assets/svg/icons.svg#game-controller">
                                                            </use>
                                                        </svg>
                                                    </div>
                                                    <h5>games</h5>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- notification -->
                            <li class="header-btn custom-dropdown dropdown-lg btn-group notification-btn">
                                <a class="main-link" href="javascript:void(0)" data-bs-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <i class="icon-light stroke-width-3 iw-16 ih-16" data-feather="bell"></i><span class="count warning">2</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-header">
                                        <span>Notification</span>
                                        <div class="mobile-close">
                                            <h5>close</h5>
                                        </div>
                                    </div>
                                    <div class="dropdown-content">
                                        <ul class="friend-list">
                                            <li class="d-block">
                                                <div>
                                                    <div class="media">
                                                        <img src="~/assets/images/user-sm/5.jpg" alt="user">
                                                        <div class="media-body">
                                                            <div>
                                                                <h5 class="mt-0">
                                                                    <span>Paige Turner</span> send you a
                                                                    friend request
                                                                </h5>
                                                                <h6> 1 mutual friend</h6>
                                                                <div class="action-btns">
                                                                    <button type="button" class="btn btn-solid">
                                                                        <i data-feather="check"></i>
                                                                    </button>
                                                                    <button type="button" class="btn btn-solid ms-1">
                                                                        <i data-feather="x"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="media">
                                                        <img src="~/assets/images/user-sm/6.jpg" alt="user">
                                                        <div class="media-body">
                                                            <div>
                                                                <h5 class="mt-0">
                                                                    <span>Bob Frapples</span> add their
                                                                    stories
                                                                </h5>
                                                                <h6>8 hour ago</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="media">
                                                        <img src="~/assets/images/user-sm/7.jpg" alt="user">
                                                        <div class="media-body">
                                                            <div>
                                                                <h5 class="mt-0">
                                                                    <span>Josephin water</span> have
                                                                    birthday today
                                                                </h5>
                                                                <h6>sun at 5.55 AM</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="media">
                                                        <img src="~/assets/images/user-sm/2.jpg" alt="user">
                                                        <div class="media-body">
                                                            <div>
                                                                <h5 class="mt-0">
                                                                    <span>Petey Cruiser</span> added a new
                                                                    photo
                                                                </h5>
                                                                <h6>sun at 5.40 AM</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- profile -->
                            <li class="header-btn custom-dropdown profile-btn btn-group">
                                <a class="main-link" href="javascript:void(0)" data-bs-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <i class="icon-light stroke-width-3 d-sm-none d-block iw-16 ih-16"
                                       data-feather="user"></i>
                                    <div class="media d-none d-sm-flex">
                                        <div class="user-img">
                                            <img src="~/imgs/@(ViewBag.ProfileImageUrl != null ? ViewBag.ProfileImageUrl : "profile-icon-9.png")"
                                                 class="img-fluid blur-up lazyload bg-img" alt="user">
                                            <span class="available-stats online"></span>
                                        </div>
                                        <div class="media-body d-none d-md-block">
                                            <h4>@ViewBag.FullName</h4>
                                            <span>active now</span>
                                        </div>
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-header">
                                        <span>profile</span>
                                        <div class="mobile-close">
                                            <h5>close</h5>
                                        </div>
                                    </div>
                                    <div class="dropdown-content">
                                        <ul class="friend-list">
                                            <li>

                                                <div class="media">
                                                    <i data-feather="user"></i>
                                                    <div class="media-body">
                                                        <div>
                                                            <form asp-controller="Profile" asp-action="Index" method="post">
                                                                <button type="submit" class="btn"><h5 class="mt-0">Profile</h5></button>

                                                                <h6>Profile preview & settings</h6>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>

                                            </li>
                                            <li>
                                                <a href="settings.html">
                                                    <div class="media">
                                                        <i data-feather="settings"></i>
                                                        <div class="media-body">
                                                            <div>
                                                                <h5 class="mt-0">setting & privacy</h5>
                                                                <h6>all settings & privacy</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="help-support.html">
                                                    <div class="media">
                                                        <i data-feather="help-circle"></i>
                                                        <div class="media-body">
                                                            <div>
                                                                <h5 class="mt-0">help & support</h5>
                                                                <h6>browse help here</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>

                                                <div class="media">
                                                    <i data-feather="log-out"></i>
                                                    <div class="media-body">
                                                        5 class="mt-0">
                                                        <form asp-area="LoginRegister" asp-controller="Auth" asp-action="Logout" method="post">
                                                            <button type="submit" class="btn btn-link">Log out</button>
                                                        </form>
                                                    </div>
                                                </div>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="page-body container-fluid custom-padding">

            <!-- sidebar panel start -->
            <div class="sidebar-panel">
                <div class="main-icon">
                    <a href="#">
                        <i data-feather="grid" class="bar-icon"></i>
                    </a>
                </div>
                <ul class="sidebar-icon">
                    <li>
                        <a href="index.html" class="tippy" title="Newsfeed">
                            <i data-feather="file" class="bar-icon"></i>
                        </a>
                    </li>
                    <li>
                        <a href="single-page.html" class="tippy" title="Favourite">
                            <i data-feather="star" class="bar-icon"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tippy" title="Groups">
                            <i data-feather="users" class="bar-icon"></i>
                        </a>
                    </li>
                    <li>
                        <a href="music.html" class="tippy" title="Music">
                            <i data-feather="headphones" class="bar-icon"></i>
                        </a>
                    </li>
                    <li>
                        <a href="weather.html" class="tippy" title="Weather">
                            <i data-feather="cloud" class="bar-icon"></i>
                        </a>
                    </li>
                    <li>
                        <a href="event.html" class="tippy" title="Event & Calender">
                            <i data-feather="calendar" class="bar-icon"></i>
                        </a>
                    </li>
                    <li>
                        <a href="birthday.html" class="tippy" title="Birthday">
                            <svg class="bar-icon fill-white">
                                <use xlink:href="https://themes.pixelstrap.com/friendbook/assets/svg/icons.svg#cake"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="inner-list">
                        <a href="games.html" class="tippy" title="Games">
                            <svg class="bar-icon fill-white">
                                <use xlink:href="https://themes.pixelstrap.com/friendbook/assets/svg/icons.svg#game-controller"></use>
                            </svg>
                        </a>
                        <span class="count">2</span>
                        <ul>
                            <li>
                                <a href="#"><img src="~/assets/images/icon/game/1.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="~/assets/images/icon/game/2.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="~/assets/images/icon/game/3.jpg" alt=""></a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="main-icon">
                    <a href="#">
                        <i data-feather="power" class="bar-icon"></i>
                    </a>
                </div>
            </div>
            <!-- sidebar panel end -->


            <div class="page-center">

                <!-- stroy section start -->
                <div class="story-section ratio_115">
                    <div class="slide-8 no-arrow default-space">
                        <div>
                            <div class="story-box">
                                <div class="story-bg bg-size">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="story-box">
                                <div class="story-bg bg-size">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="story-box">
                                <div class="story-bg bg-size">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="story-box">
                                <div class="story-bg bg-size">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="story-box">
                                <div class="story-bg bg-size">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="story-box">
                                <div class="story-bg bg-size">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="story-box">
                                <div class="story-bg bg-size">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="story-box">
                                <div class="story-bg bg-size">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- stroy section end -->

                <div class="container-fluid section-t-space px-0 layout-default">
                    <div class="page-content">
                        <div class="content-left">
                            <!-- profile box -->
                            <div class="profile-box">
                                <div class="profile-content">
                                    <a href="profile.html" class="image-section">
                                        <div class="profile-img">
                                            <div class="bg-loader"></div>
                                        </div>
                                    </a>
                                    <div class="profile-detail">
                                        <h2></h2>
                                        <h5></h5>
                                        <div class="description">
                                            <p></p>
                                            <p></p>
                                        </div>
                                        <div class="counter-stats">
                                            <span></span>
                                        </div>
                                        <div class="ldr-btn btn"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- suggestion box -->
                            <div class="suggestion-box section-t-space">
                                <div class="card-title">
                                    <h3></h3>
                                </div>
                                <div class="suggestion-content ratio_115">
                                    <div class="slide-2 no-arrow default-space">
                                        <div>
                                            <div class="story-box">
                                                <div class="story-bg bg-size">
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="story-box">
                                                <div class="story-bg bg-size">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- like page -->
                            <div class="page-list section-t-space">
                                <div class="card-title">
                                    <h3></h3>
                                </div>
                                <div class="list-content">
                                    <ul>
                                        <li>
                                            <div class="media">
                                                <div class="img-part">
                                                </div>
                                                <div class="media-body">
                                                    <h4></h4>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media">
                                                <div class="img-part">
                                                </div>
                                                <div class="media-body">
                                                    <h4></h4>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media">
                                                <div class="img-part">
                                                </div>
                                                <div class="media-body">
                                                    <h4></h4>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media">
                                                <div class="img-part">
                                                </div>
                                                <div class="media-body">
                                                    <h4></h4>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media">
                                                <div class="img-part">
                                                </div>
                                                <div class="media-body">
                                                    <h4></h4>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="content-center">
                            <!-- create post -->
                            <div class="create-post">
                                <div class="static-section">
                                    <div class="card-title">
                                        <h3></h3>
                                    </div>
                                    <div class="search-input input-style icon-right">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="create-bg">
                                    <div class="bg-post">
                                        <div class="input-sec">
                                            <input type="text" class="form-control enable"
                                                   placeholder="write something here.." />
                                            <div class="close-icon">
                                                <a href="javascript:void(0)">
                                                    <i class="iw-20 ih-20" data-feather="x"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gradient-bg">
                                    </div>
                                </div>
                                <ul class="create-btm-option">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                                <div class="post-btn">
                                    <button disabled="disabled" class="Disable">post</button>
                                </div>
                            </div>
                            <div class="overlay-bg"></div>
                            <div class="post-panel section-t-space">
                                <div class="post-wrapper col-grid-box">
                                    <div class="post-title">
                                        <div class="profile">
                                            <div class="media">
                                                <div class="user-img">
                                                </div>
                                                <div class="media-body">
                                                    <h5></h5>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-details ratio2_1">
                                        <div class="img-wrapper bg-size">
                                        </div>
                                        <div class="detail-box">
                                            <h3></h3>
                                            <h5 class="tag"></h5>
                                            <div class="ldr-p">
                                                <p></p>
                                                <p></p>
                                            </div>
                                            <div class="bookmark favourite-btn">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-wrapper col-grid-box section-t-space">
                                    <div class="post-title">
                                        <div class="profile">
                                            <div class="media">
                                                <div class="user-img">
                                                </div>
                                                <div class="media-body">
                                                    <h5></h5>
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-details ratio2_1">
                                        <div class="img-wrapper bg-size">
                                        </div>
                                        <div class="detail-box">
                                            <h3></h3>
                                            <h5 class="tag"></h5>
                                            <div class="ldr-p">
                                                <p></p>
                                                <p></p>
                                            </div>
                                            <div class="bookmark favourite-btn">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-right">
                            <!-- birthday reminder -->
                            <div class="birthday-section bg-size">
                                <div class="birthday-top">
                                    <div class="title">
                                        <h3></h3>
                                        <h6></h6>
                                    </div>
                                </div>
                                <div class="birthday-content">
                                    <div class="image-section">
                                        <div class="icon">
                                        </div>
                                        <div class="center-profile">
                                        </div>
                                        <div class="icon">
                                        </div>
                                    </div>
                                    <div class="details">
                                        <h3></h3>
                                        <h6></h6>
                                        <div class="ldr-p">
                                            <p></p>
                                            <p></p>
                                        </div>
                                        <form>
                                            <input type="text" class="form-control">
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!-- gallery section -->
                            <div class="gallery-section section-t-space">
                                <div class="gallery-top">
                                    <div class="card-title">
                                        <h3></h3>
                                    </div>
                                </div>
                                <div class="portfolio-section ratio_square">
                                    <div class="container-fluid p-0">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="overlay">
                                                    <div class="portfolio-image bg-size">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="overlay">
                                                    <div class="portfolio-image bg-size">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="overlay">
                                                    <div class="portfolio-image bg-size">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4 row m-0">
                                                <div class="col-12 pt-cls p-0">
                                                    <div class="overlay">
                                                        <div class="portfolio-image bg-size">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 pt-cls p-0">
                                                    <div class="overlay">
                                                        <div class="portfolio-image bg-size">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-8 pt-cls">
                                                <div class="overlay">
                                                    <div class="portfolio-image bg-size">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- suggestion box -->
                            <div class="suggestion-box section-t-space">
                                <div class="card-title">
                                    <h3></h3>
                                </div>
                                <div class="suggestion-content ratio_115">
                                    <div class="slide-2 no-arrow default-space">
                                        <div>
                                            <div class="story-box">
                                                <div class="story-bg bg-size">
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="story-box">
                                                <div class="story-bg bg-size">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- conversation panel start -->
            <div class="conversation-panel xl-light">
                <div class="panel-header">
                    <h2></h2>
                    <h5></h5>
                </div>
                <div class="search-bar">
                    <div class="lg-search">
                        <input type="text" class="form-control">
                    </div>
                    <div class="xs-search">
                        <div class="icon-search">
                            <i data-feather="search" class="icon-dark iw-16"></i>
                        </div>
                    </div>
                </div>
                <div class="friend-section">
                    <div class="header-section">
                        <h5></h5>
                        <div class="down-arrow">
                        </div>
                    </div>
                    <div class="friend-list collapse show">
                        <ul>
                            <li class="friend-box user1">
                                <div class="media">
                                    <a class="user-img">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="user-name"></h5>
                                        <h6></h6>
                                    </div>
                                </div>
                            </li>
                            <li class="friend-box user2">
                                <div class="media">
                                    <a class="user-img">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="user-name"></h5>
                                        <h6></h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="friend-section">
                    <div class="header-section">
                        <h5></h5>
                        <div class="down-arrow">
                        </div>
                    </div>
                    <div class="friend-list collapse show">
                        <ul>
                            <li class="friend-box user3">
                                <div class="media">
                                    <a class="user-img">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="user-name"></h5>
                                        <h6></h6>
                                    </div>
                                </div>
                            </li>
                            <li class="friend-box user4">
                                <div class="media">
                                    <a class="user-img">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="user-name"></h5>
                                        <h6></h6>
                                    </div>
                                </div>
                            </li>
                            <li class="friend-box user5">
                                <div class="media">
                                    <a class="user-img">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="user-name"></h5>
                                        <h6></h6>
                                    </div>
                                </div>
                            </li>
                            <li class="friend-box user6">
                                <div class="media">
                                    <a class="user-img">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="user-name"></h5>
                                        <h6></h6>
                                    </div>
                                </div>
                            </li>
                            <li class="friend-box user7">
                                <div class="media">
                                    <a class="user-img">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="user-name"></h5>
                                        <h6></h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- conversation panel end -->

        </div>
    </div>
    <!-- loader end -->
    <!-- header start -->
    <header>
        <div class="mobile-fix-menu"></div>
        <div class="container-fluid custom-padding">
            <div class="header-section">
                <div class="header-left">
                    <div class="brand-logo">
                        <a href="index.html">
                            <img src="~/assets/images/icon/logo.png" alt="logo" class="img-fluid blur-up lazyload">
                        </a>
                    </div>
                    <div class="search-box">
                        <i data-feather="search" class="icon iw-16 icon-light"></i>
                        <input type="text" id="searchInput" class="form-control search-type" placeholder="Find friends...">
                        <div class="icon-close">
                            <i data-feather="x" class="iw-16 icon-light"></i>
                        </div>
                        <div class="search-suggestion">
                            <span class="recent">recent search</span>
                            <ul class="friend-list" id="searchedUsers">

                     @*    <div class="lg-search">
                            <i data-feather="search" class="icon iw-16 icon-light" onclick="submitSearchForm()"></i>
                            <form id="searchForm" method="get" action="@Url.Action("Index", "Profile")">
                                <input type="text" value="@searchTerm" name="FullName" class="form-control" placeholder="find friends...">
                            </form>
                        </div> *@
                       @*  <div class="lg-search">
                            <i data-feather="search" class="icon iw-16 icon-light"></i>
                            <form id="searchForm" onsubmit="return false;">
                                <input type="text" id="searchInput" name="FullName" class="form-control" placeholder="Find friends...">
                            </form>
                        </div> *@
                       @*  <div class="icon-close">
                            <i data-feather="x" class="iw-16 icon-light"></i>
                        </div>
                        <div class="search-suggestion">
                            <span class="recent">recent search</span>
                            <ul class="friend-list" id="searchedUsers"> *@
                                @* @if (searchedUsers is not null)
                                {
                                    @foreach (var user in searchedUsers)
                                    {
                                        <li>
                                            <div class="media">
                                                <img src="~/imgs/@user.ProfileImageImageUrl" alt="user">
                                                <div class="media-body">
                                                    <div>
                                                        <h5 class="mt-0">@user.FullName</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                } *@

                                @* @await Html.PartialAsync("_SearchResults", ViewBag.SearchedUsers as IEnumerable<UserProfileViewModel>); *@

                            </ul>
                        </div>
                    </div>
                    <ul class="btn-group">
                        <!-- home -->
                        <li class="header-btn home-btn">
                            <a class="main-link" asp-action="Index" asp-controller="Home">
                                <i class="icon-light stroke-width-3 iw-16 ih-16" data-feather="home"></i>
                            </a>
                        </li>
                        <!-- add friend -->
                        <li class="header-btn custom-dropdown dropdown-lg add-friend">
                            <a class="main-link" href="javascript:void(0)" data-bs-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <i class="icon-light stroke-width-3 iw-16 ih-16" data-feather="user-plus"></i>
                            </a>
                            <div class="dropdown-menu">
                                <div class="dropdown-header">
                                    <span>friend request</span>
                                    <div class="mobile-close">
                                        <h5>close</h5>
                                    </div>
                                </div>
                                <div class="dropdown-content">
                                    <ul class="friend-list">
                                        <li>
                                            <div class="media">
                                                <img src="~/assets/images/user-sm/5.jpg" alt="user">
                                                <div class="media-body">
                                                    <div>
                                                        <h5 class="mt-0">Paige Turner</h5>
                                                        <h6> 1 mutual friend</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="action-btns">
                                                <button type="button" class="btn btn-solid">confirm</button>
                                                <button type="button" class="btn btn-outline ms-1">delete</button>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media">
                                                <img src="~/assets/images/user-sm/6.jpg" alt="user">
                                                <div class="media-body">
                                                    <div>
                                                        <h5 class="mt-0">Paige Turner</h5>
                                                        <h6> 1 mutual friend</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="action-btns">
                                                <button type="button" class="btn btn-solid">confirm</button>
                                                <button type="button" class="btn btn-outline ms-1">delete</button>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media">
                                                <img src="~/assets/images/user-sm/7.jpg" alt="user">
                                                <div class="media-body">
                                                    <div>
                                                        <h5 class="mt-0">Paige Turner</h5>
                                                        <h6> 1 mutual friend</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="action-btns">
                                                <button type="button" class="btn btn-solid">confirm</button>
                                                <button type="button" class="btn btn-outline ms-1">delete</button>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media">
                                                <img src="~/assets/images/user-sm/2.jpg" alt="user">
                                                <div class="media-body">
                                                    <div>
                                                        <h5 class="mt-0">Paige Turner</h5>
                                                        <h6> 1 mutual friend</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="action-btns">
                                                <button type="button" class="btn btn-solid">confirm</button>
                                                <button type="button" class="btn btn-outline ms-1">delete</button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="header-right">
                    <div class="post-stats">
                        <ul>
                            <li>
                                <a asp-controller="Profile" asp-action="Index">
                                <h3>@ViewBag.PostCount</h3>
                                <span>total posts</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Friendship" asp-action="GetFriends">
                                    <h3>@ViewBag.FriendCount</h3>
                                    <span>total friends</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <ul class="option-list">
                        <!-- message -->
                        <li class="header-btn custom-dropdown dropdown-lg btn-group message-btn">
                            <a class="main-link" asp-action="Index" asp-controller="Message">
                                <i class="icon-light stroke-width-3 iw-16 ih-16" data-feather="message-circle"></i><span class="count success">2</span>
                            </a>
 
                        </li>
                        <!-- dark/light -->
                        <li class="header-btn custom-dropdown">
                            <a id="dark" class="main-link" href="javascript:void(0)">
                                <i class="icon-light stroke-width-3 iw-16 ih-16" data-feather="moon"></i>
                            </a>
                            <a id="light" class="main-link d-none" href="javascript:void(0)">
                                <i class="icon-light stroke-width-3 iw-16 ih-16" data-feather="sun"></i>
                            </a>
                        </li>
                        <!-- mobile app button -->
                        <li class="header-btn custom-dropdown d-md-none d-block app-btn">
                            <a class="main-link" href="javascript:void(0)">
                                <i class="icon-light stroke-width-3 iw-16 ih-16" data-feather="grid"></i>
                            </a>
                            <div class="overlay-bg app-overlay"></div>
                            <div class="app-box">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="app-icon">
                                            <a href="index.html">
                                                <div class="icon">
                                                    <i data-feather="file" class="bar-icon"></i>
                                                </div>
                                                <h5>Newsfeed</h5>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="app-icon">
                                            <a href="single-page.html">
                                                <div class="icon">
                                                    <i data-feather="star" class="bar-icon"></i>
                                                </div>
                                                <h5>favourite</h5>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="app-icon">
                                            <a href="#">
                                                <div class="icon">
                                                    <i data-feather="users" class="bar-icon"></i>
                                                </div>
                                                <h5>group</h5>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="app-icon">
                                            <a href="music.html">
                                                <div class="icon">
                                                    <i data-feather="headphones" class="bar-icon"></i>
                                                </div>
                                                <h5>music</h5>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="app-icon">
                                            <a href="weather.html">
                                                <div class="icon">
                                                    <i data-feather="cloud" class="bar-icon"></i>
                                                </div>
                                                <h5>weather</h5>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="app-icon">
                                            <a href="event.html">
                                                <div class="icon">
                                                    <i data-feather="calendar" class="bar-icon"></i>
                                                </div>
                                                <h5>calender</h5>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="app-icon">
                                            <a href="#">
                                                <div class="icon">
                                                    <svg class="bar-icon">
                                                        <use class="fill-color"
                                                             xlink:href="https://themes.pixelstrap.com/friendbook/assets/svg/icons.svg#cake"></use>
                                                    </svg>
                                                </div>
                                                <h5>event</h5>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="app-icon">
                                            <a href="games.html">
                                                <div class="icon">
                                                    <svg class="bar-icon">
                                                        <use class="fill-color"
                                                             xlink:href="https://themes.pixelstrap.com/friendbook/assets/svg/icons.svg#game-controller">
                                                        </use>
                                                    </svg>
                                                </div>
                                                <h5>games</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- notification -->
                        <li class="header-btn custom-dropdown dropdown-lg btn-group notification-btn">
                            <a class="main-link" href="javascript:void(0)" data-bs-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <i class="icon-light stroke-width-3 iw-16 ih-16" data-feather="bell"></i><span class="count warning">2</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-header">
                                    <span>Notification</span>
                                    <div class="mobile-close">
                                        <h5>close</h5>
                                    </div>
                                </div>
                                <div class="dropdown-content">
                                    <ul class="friend-list">
                                        <li class="d-block">
                                            <div>
                                                <div class="media">
                                                    <img src="~/assets/images/user-sm/5.jpg" alt="user">
                                                    <div class="media-body">
                                                        <div>
                                                            <h5 class="mt-0">
                                                                <span>Paige Turner</span> send you a friend
                                                                request
                                                            </h5>
                                                            <h6> 1 mutual friend</h6>
                                                            <div class="action-btns">
                                                                <button type="button" class="btn btn-solid">
                                                                    <i data-feather="check"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-solid ms-1">
                                                                    <i data-feather="x"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="media">
                                                    <img src="~/assets/images/user-sm/6.jpg" alt="user">
                                                    <div class="media-body">
                                                        <div>
                                                            <h5 class="mt-0">
                                                                <span>Bob Frapples</span> add their stories
                                                            </h5>
                                                            <h6>8 hour ago</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="media">
                                                    <img src="~/assets/images/user-sm/7.jpg" alt="user">
                                                    <div class="media-body">
                                                        <div>
                                                            <h5 class="mt-0">
                                                                <span>Josephin water</span> have birthday
                                                                today
                                                            </h5>
                                                            <h6>sun at 5.55 AM</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="media">
                                                    <img src="~/assets/images/user-sm/2.jpg" alt="user">
                                                    <div class="media-body">
                                                        <div>
                                                            <h5 class="mt-0">
                                                                <span>Petey Cruiser</span> added a new
                                                                photo
                                                            </h5>
                                                            <h6>sun at 5.40 AM</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <!-- profile -->
                        <li class="header-btn custom-dropdown profile-btn btn-group">
                            <a class="main-link" href="javascript:void(0)" data-bs-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <i class="icon-light stroke-width-3 d-sm-none d-block iw-16 ih-16"
                                   data-feather="user"></i>
                                <div class="media d-none d-sm-flex">
                                    <div class="user-img">
                                        <img src="~/imgs/@(ViewBag.ProfileImageUrl != null ? ViewBag.ProfileImageUrl : "profile-icon-9.png")"
                                             class="img-fluid blur-up lazyload bg-img" alt="user">
                                        <span class="available-stats online"></span>
                                    </div>
                                    <div class="media-body d-none d-md-block">
                                        <h4>@ViewBag.FullName</h4>
                                        <span>active now</span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-header">
                                    <span>profile</span>
                                    <div class="mobile-close">
                                        <h5>close</h5>
                                    </div>
                                </div>
                                <div class="dropdown-content">
                                    <ul class="friend-list">
                                        <li>

                                            <div class="media">
                                                <i data-feather="user"></i>
                                                <div class="media-body">
                                                    <div>
                                                        <form asp-controller="Profile" asp-action="Index" method="post">
                                                            <button type="submit" class="btn"><h5 class="mt-0">Profile</h5></button>

                                                            <h6>Profile preview & settings</h6>
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>

                                        </li>
                                        <li>
                                            <a href="settings.html">
                                                <div class="media">
                                                    <i data-feather="settings"></i>
                                                    <div class="media-body">
                                                        <div>
                                                            <h5 class="mt-0">setting & privacy</h5>
                                                            <h6>all settings & privacy</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="help-support.html">
                                                <div class="media">
                                                    <i data-feather="help-circle"></i>
                                                    <div class="media-body">
                                                        <div>
                                                            <h5 class="mt-0">help & support</h5>
                                                            <h6>browse help here</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>

                                            <div class="media">
                                                <i data-feather="log-out"></i>
                                                <div class="media-body">
                                                    <div>
                                                        <form asp-area="LoginRegister" asp-controller="Auth" asp-action="Logout" method="post">
                                                            <button type="submit" class="btn ">
                                                                <h5 class="mt-0">Log out</h5>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->
    @RenderBody();
    @RenderSection("Scripts", required: false)
    <!-- latest jquery-->
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>

    <!-- popper js-->
    <script src="~/assets/js/popper.min.js"></script>

    <!-- slick slider js -->
    <script src="~/assets/js/slick.js"></script>
    <script src="~/assets/js/custom-slick.js"></script>

    <!-- counter js -->
    <script src="~/assets/js/counter.js"></script>

    <!-- popover js for custom popover -->
    <script src="~/assets/js/popover.js"></script>

    <!-- feather icon js-->
    <script src="~/assets/js/feather.min.js"></script>

    <!-- emoji picker js-->
    <script src="~/assets/js/emojionearea.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/assets/js/bootstrap.js"></script>

    <!-- chatbox js -->
   @* <script src="~/assets/js/chatbox.js"></script> *@

    <!-- lazyload js-->
    <script src="~/assets/js/lazysizes.min.js"></script>

    <!-- theme setting js-->
    <script src="~/assets/js/theme-setting.js"></script>

    <!-- Theme js-->
    <script src="~/assets/js/script.js"></script>

    <script>
        feather.replace();
        $(".emojiPicker").emojioneArea({
            inline: true,
            placement: 'absleft',
            pickerPosition: "top left",
        });
    </script>

    <script>

        document.getElementById('searchInput').addEventListener('input', function () {
            const query = this.value.trim();
            if (query) {
                fetchUsersByName(query);
            } else {
                document.getElementById('searchedUsers').innerHTML = '';
            }
        });

        function fetchUsersByName(name) {
            fetch("https://localhost:7008/api/Users/GetUserProfileByName?FullName=" + encodeURIComponent(name))
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    renderUserSuggestions(data);
                })
                .catch(error => console.error('Error fetching users:', error));
        }

        function renderUserSuggestions(users) {
            const suggestionsContainer = document.getElementById('searchedUsers');
            suggestionsContainer.innerHTML = '';
            // console.log(Array.isArray(Object.keys(users.entities)));

            if (Array.isArray(Object.keys(users.entities))) {
                console.log(users.entities.$values);
                users.entities.$values.forEach(user => {
                    const userItem = document.createElement('li');
                    userItem.innerHTML = `
                                        <div class="media" onclick="window.location.href='/Friendship/UserProfile?userId=${user.id}'">
                            <img src="../imgs/${user.profileImageImageUrl != null ? user.profileImageImageUrl : "profile-icon-9.png"}" alt="user">
                            <div class="media-body">
                                <div>
                                    <h5 class="mt-0">${user.fullName}</h5>
                                </div>
                            </div>
                        </div>`;
                    suggestionsContainer.appendChild(userItem);
                });
            } else {
                suggestionsContainer.innerHTML = `<li>No results found.</li>`;
            }
        }
    </script>
  @*   <script>
        function submitSearchForm(e) {
            document.getElementById('searchForm').submit();
        }
    </script> *@

@*     <script>
        async function submitSearchForm() {
            const searchInput = document.getElementById("searchInput").value;

            // Use fetch to send a GET request
            const response = await fetch(`/Profile/Index?FullName=${encodeURIComponent(searchInput)}`, {
                method: 'GET',
                credentials: 'include' // Include cookies in the request
            });

            if (response.ok) {
                const result = await response.text(); // Get the HTML response
                document.getElementById("searchedUsers").innerHTML = result; // Update the friend list
            } else {
                console.error('Search failed:', response.statusText);
            }
        }
    </script> *@
    <script>
        $(document).ready(function () {
            var arr = []; // List of users

            // chat input plus
            $(document).on("click", ".chat-box .chat-footer .animated-btn", function () {
                $(this).parents(".add-extent").toggleClass("show")
            });

            $(document).on("click", ".chat-header", function () {
                var chatbox = $(this).parents().attr("rel");
                $('[rel="' + chatbox + '"] .chat-wrap').slideToggle("slow");
                return false;
            });

            $(document).on("click", ".close-chat", function () {
                var chatbox = $(this).parents('.chat-box').attr("rel");
                $('[rel="' + chatbox + '"]').hide();
                arr.splice($.inArray(chatbox, arr), 1);
                displayChatBox();
                return false;
            });

            $(document).on("click", ".conversation-panel .friend-section .friend-box", function () {
                var userID = $(this).attr("class");
                var username = $(this).children(".media").children(".media-body").find(".user-name").text();
                var userImage = $(this).children(".media").children(".user-img").children("img").attr("src");
                var userAvailable = $(this).children(".media").children(".user-img").children(".available-stats").attr("class");


                if ($.inArray(userID, arr) != -1) {
                    arr.splice($.inArray(userID, arr), 1);
                }


                arr.unshift(userID);
                chatPopup =
                    '<div class="chat-box" style="right:270px" rel="' +
                    userID +
                    '">' +
                    '<a href="profile.html" class="chat-header">' +
                    '<div class="name">' +
                    '<div class="user-img" style="background-image: url(' + userImage + ');">' +
                    '<span class="' + userAvailable +
                    '"></span>' +
                    '</div>' +
                    '<span>' + username + '</span> </div>' +
                    '<div class="menu-option">' +
                    '<ul>' +
                    '<li><img src="../assets/svg/video.svg"></li>' +
                    '<li><img src="../assets/svg/phone.svg"></li>' +
                    '<li><img src="../assets/svg/settings.svg"></li>' +
                    '<li class="close-chat"><img src="../assets/svg/x.svg"></li>' +
                    '</ul>' +
                    '</div>' +
                    '</a>' +
                    '<div class="chat-wrap"> <div class="chat-body"><div class="msg_push"></div> </div>' +
                    '<div class="chat-footer">' +
                    '<input placeholder="type your message here.." class="chat-input form-control emojiPicker"></input>' +
                    '<div class="add-extent">' +
                    '<i class="fas fa-plus animated-btn"></i>' +
                    '<div class="options">' +
                    '<ul>' +
                    '<li><img src="../assets/svg/image.svg"></li>' +
                    '<li><img src="../assets/svg/paperclip.svg"></li>' +
                    '<li><img src="../assets/svg/camera.svg"></li>' +
                    '</ul>' +
                    '</div>' +
                    '</div>' +
                    '</div></div></div>';

                $("body").append(chatPopup);
                displayChatBox();
            });

            $(document).on("keypress", ".chat-input", function (e) {
                if (e.keyCode == 13) {
                    var msg = $(this).val();
                    $(this).val("");
                    if (msg.trim().length != 0) {
                        var chatbox = $(this).parents().parents().parents().attr("rel");
                        $('<div class="msg-right"> <span>' + msg + "</span></div>").insertBefore(
                            '[rel="' + chatbox + '"] .msg_push'
                        );
                        $(".chat-body").scrollTop($(".chat-body")[0].scrollHeight);
                    }
                }
            });

            function displayChatBox() {
                i = 370; // start position
                j = 330; //next position

                $.each(arr, function (index, value) {
                    if (index < 4) {
                        $('[rel="' + value + '"]').css("right", i);
                        $('[rel="' + value + '"]').show();
                        i = i + j;
                    } else {
                        $('[rel="' + value + '"]').hide();
                    }
                });
            }


        });
    </script>

</body>


<!-- Mirrored from themes.pixelstrap.com/friendbook/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 03 Oct 2024 20:06:16 GMT -->
</html>